.text-box.text-box--grumpiest.text-box--wide
  h2.block-title
    | The Grumpiest States

  .intro-img
    picture

      source(media='(max-width: 779px)', srcset='images/photo/grumpiest-740.png, images/photo/grumpiest-740@2x.png 2x')
      source(media='(max-width: 1019px)', srcset='images/photo/grumpiest-780.png, images/photo/grumpiest-780@2x.png 2x')
      source(media='(max-width: 1439px)', srcset='images/photo/grumpiest-1020.png, images/photo/grumpiest-1020@2x.png 2x')
      source(media='(max-width: 1849px)', srcset='images/photo/grumpiest.png, images/photo/grumpiest@2x.png 2x')
      img.main-img(src='images/photo/grumpiest-1920.png', srcset='images/photo/grumpiest-1920@2x.png 2x')

    picture
      source(media='(max-width: 779px)', srcset='images/photo/grumpy-img-xsmall.png, images/photo/grumpy-img-xsmall@2x.png 2x')
      source(media='(max-width: 1019px)', srcset='images/photo/grumpy-img-small.png, images/photo/grumpy-img-small@2x.png 2x')
      img.small-img.small-img--grumpy(src='images/photo/grumpy-img.png', srcset='images/photo/grumpy-img@2x.png 2x')

  .rankings__wrapper
    .rankings__item
      .rankings__item-header
        span.rate-block
          | 94.027
        h3.rankings__item-title
          | Washington, D.C.

      .rankings__item-num-block
        p.rankings__item-num
          | 1

      p.rankings__item-text
        | While not technically a state, we couldn't leave out our nation's capitol. D.C. takes first place as the home of the grumpiest tourists nation-wide. While its license plates may read “taxation without representation,” D.C. is the most over-represented in our set of negative hotel reviews, with 882 more than we estimated based on its 0.2% share of the US population. D.C. also has the second lowest average hotel rating, with 14.25% of all reviews being one- or two-star.

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 74.521
        h3.rankings__item-title
          | Colorado

      .rankings__item-num-block
        p.rankings__item-num
          | 2

      p.rankings__item-text
        | Second to DC in crankiness are tourists hailing from the state of Colorado, who are distinguished by having the lowest average hotel rating in the country (3.82 on a five-point scale out of 4696 reviews). Coloradans ranked third in terms of the total percentage of reviews that were negative, and came in sixth for the number of negative reviews over the number expected based on its population share.

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 68.932
        h3.rankings__item-title
          | Oregon

      .rankings__item-num-block
        p.rankings__item-num
          | 3

      p.rankings__item-text
        | Coming in at number three on our list is Oregon. With 14.98% negative reviews, 33% more negative reviews than expected, and an average rating of 3.88, Oregon ranked consistently high on all three indicators that we evaluated. As the rest of our top ten will show, the Left Coast as a whole is home to a sizable number of disgruntled travelers.

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 66.491
        h3.rankings__item-title
          | California

      .rankings__item-num-block
        p.rankings__item-num
          | 4

      p.rankings__item-text
        | With the third highest excess negative review rate of 44.47% over the number expected based on its 12.15% share of the US population and the total number of reviews in our data set, California only comes in fourth due to its lower scores on our other two metrics. With “only” 14.40% of the 42,111 reviews by Californians were negative, with the average review modestly higher than D.C., Oregon & Colorado, at 3.91, California ranks seventh and sixth by these measures.

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 66.133

        h3.rankings__item-title
          | Arizona

      .rankings__item-num-block
        p.rankings__item-num
          | 5

      p.rankings__item-text
        | Barely edged out by California, Arizona is 5th in the nation for less-than-happy tourists. While Arizona’s 14.81% grumpy reviews beats California (and Nevada as well) for number 5 on this metric, its average review rating of 3.93 (8th) and its 281 excess 1 and 2-star reviews (4th with 39.37% of an expected 755) keep its composite ranking below that of California.

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 63.170
        h3.rankings__item-title
          | Nevada

      .rankings__item-num-block
        p.rankings__item-num
          | 6

      p.rankings__item-text
        | While Nevada is only modestly over-represented in our excess negative reviews category (ranked 11th), it comes in at number six on our list due to its relatively high percentage of poor reviews (14.78% grumpy of 2,509 total reviews; ranked sixth) and an average review of 3.89 (lower than both California and Arizona, ranked fifth).

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 61.897
        h3.rankings__item-title
          | Massachusetts

      .rankings__item-num-block
        p.rankings__item-num
          | 7

      p.rankings__item-text
        | At number seventh in the nation, we have Massachusetts. Despite middling marks for average hotel review (3.97) and negative reviews proportionate to the number of reviews in our data set (12.65% of 10,769 reviews), Massachusetts ranked second in number of one- and two-star reviews over and above the number expected by population (a whopping 1362 grumpy reviews, as opposed to the 742 expected).

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 57.884
        h3.rankings__item-title
          | Washington

      .rankings__item-num-block
        p.rankings__item-num
          | 8

      p.rankings__item-text
        | Ranked eighth in the country for discontent travelers is Washington State, with an average hotel rating of 3.93 over 7,575 reviews (9th), a 13.31% negative review rate (13th), and 28% more negative reviews than expected. At this point, a common thread has emerged: seven of the top eight states with the orneriest tourists have recently legalized recreational cannabis use. Of all states that have done so, only two did not make our top ten: Alaska (21st) and Maine (32nd).

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 54.655
        h3.rankings__item-title
          | New York

      .rankings__item-num-block
        p.rankings__item-num
          | 9

      p.rankings__item-text
        | Unsurprisingly, New York makes the top ten. Yet some may be surprised that the Empire State comes in at a perhaps unexpectedly low number nine. New York is modestly overrepresented in our data set, with the eighth most one- and two-star reviews over the baseline expected for its population share (6.11% of the total US population), and an average rating of 3.97.

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 54.646
        h3.rankings__item-title
          | Kentucky

      .rankings__item-num-block
        p.rankings__item-num
          | 10

      p.rankings__item-text
        | Last on our list, but certainly not the least grumpy – at least on one metric – is of Kentucky. With one of the highest average hotel ratings of 4.09 (eighth highest), and fewer total one- and two-star reviews than expected in our data set proportional to population (ranked 23rd), it is on the strength of sheer crankiness that Kentucky appears at number 10 on our list. With fully 19.10% of the 2,047 reviews in our data set, Kentuckians rank first on this metric.

  .graph__wrapper
    p.info-text
      | This chart shows the number of complaints and the overall score. But even if the number of complaints is high, the overall rating may not coincide. To see the full data, click the button.

    .graph-img__wrapper.graph-img__wrapper--grumpy
      picture
        source(media='(min-width: 1850px)', srcset='images/photo/grump-scheme-1920.png, images/photo/grump-scheme-1920@2x.png 2x')
        source(media='(max-width: 779px)', srcset='images/photo/grump-scheme-780.png, images/photo/grump-scheme-780@2x.png 2x')
        source(media='(max-width: 1019px)', srcset='images/photo/grump-scheme-780.png, images/photo/grump-scheme-780@2x.png 2x')
        source(media='(max-width: 1439px)', srcset='images/photo/grump-scheme.png, images/photo/grump-scheme@2x.png 2x')
        img.graph-img(src='images/photo/grump-scheme.png', srcset='images/photo/grump-scheme@2x.png 2x')

      a.graph-img__mobile-only(href="")
        span Tap to review full size

  .btn-container
    a.btn-main(href='/grumpy-full.html')
      span.btn-main__text Click here for the full ranking
