-
  var values = [
    {
     rank: 1,
     state: "DC",
     totalReviews: '6,709',
     grumpyReviews: 956,
     grumpy: 14.25,
     notGrumpy: 85.75,
     averageReview: 3.85,
     reviewPercentile: 0.02,
     grumpyPercentile: 0.98,
     grumpIndexScore: 92.82
   },
   {
     rank: 2,
     state: "CO",
     totalReviews: '4,969',
     grumpyReviews: 792,
     grumpy: 15.94,
     notGrumpy: 84.06,
     averageReview: 3.84,
     reviewPercentile: 0,
     grumpyPercentile: 1,
     grumpIndexScore: 73.57
   },
   {
     rank: 3,
     state: "OR",
     totalReviews: '4,073',
     grumpyReviews: 610,
     grumpy: 14.98,
     notGrumpy: 85.02,
     averageReview: 3.89,
     reviewPercentile: 0.06,
     grumpyPercentile: 0.94,
     grumpIndexScore: 68.01
   },
   {
     rank: 4,
     state: "CA",
     totalReviews: '42,111',
     grumpyReviews: 6081,
     grumpy: 14.44,
     notGrumpy: 85.56,
     averageReview: 3.91,
     reviewPercentile: 0.1,
     grumpyPercentile: 0.9,
     grumpIndexScore: 65.59
   },
   {
     rank: 5,
     state: "AZ",
     totalReviews: '6,996',
     grumpyReviews: 1036,
     grumpy: 14.81,
     notGrumpy: 85.19,
     averageReview: 3.93,
     reviewPercentile: 0.14,
     grumpyPercentile: 0.86,
     grumpIndexScore: 65.22
   },
   {
     rank: 6,
     state: "NV",
     totalReviews: '2,509',
     grumpyReviews: 371,
     grumpy: 14.79,
     notGrumpy: 85.21,
     averageReview: 3.89,
     reviewPercentile: 0.08,
     grumpyPercentile: 0.92,
     grumpIndexScore: 62.33
   },
   {
     rank: 7,
     state: "MA",
     totalReviews: '10,769',
     grumpyReviews: 1362,
     grumpy: 12.65,
     notGrumpy: 87.35,
     averageReview: 3.97,
     reviewPercentile: 0.24,
     grumpyPercentile: 0.76,
     grumpIndexScore: 61.01
   },
   {
     rank: 8,
     state: "WA",
     totalReviews: '7,575',
     grumpyReviews: 1008,
     grumpy: 13.31,
     notGrumpy: 86.69,
     averageReview: 3.93,
     reviewPercentile: 0.16,
     grumpyPercentile: 0.84,
     grumpIndexScore: 57.08
   },
   {
     rank: 9,
     state: "NY",
     totalReviews: '20,523',
     grumpyReviews: 2680,
     grumpy: 13.06,
     notGrumpy: 86.94,
     averageReview: 3.97,
     reviewPercentile: 0.2,
     grumpyPercentile: 0.8,
     grumpIndexScore: 53.86
   },
   {
     rank: 10,
     state: "KY",
     totalReviews: '2,047',
     grumpyReviews: 391,
     grumpy: 19.1,
     notGrumpy: 80.9,
     averageReview: 4.08,
     reviewPercentile: 0.86,
     grumpyPercentile: 0.14,
     grumpIndexScore: 53.77
   },
   {
     rank: 11,
     state: "IL",
     totalReviews: '13,371',
     grumpyReviews: 1696,
     grumpy: 12.68,
     notGrumpy: 87.32,
     averageReview: 3.99,
     reviewPercentile: 0.28,
     grumpyPercentile: 0.72,
     grumpIndexScore: 50.89
   },
   {
     rank: 12,
     state: "TX",
     totalReviews: '29,005',
     grumpyReviews: 3681,
     grumpy: 12.69,
     notGrumpy: 87.31,
     averageReview: 4.05,
     reviewPercentile: 0.64,
     grumpyPercentile: 0.36,
     grumpIndexScore: 47.85
   },
   {
     rank: 13,
     state: "OH",
     totalReviews: '9,408',
     grumpyReviews: 1221,
     grumpy: 12.98,
     notGrumpy: 87.02,
     averageReview: 3.97,
     reviewPercentile: 0.26,
     grumpyPercentile: 0.74,
     grumpIndexScore: 45.09
   },
   {
     rank: 14,
     state: "IN",
     totalReviews: '4,635',
     grumpyReviews: 645,
     grumpy: 13.92,
     notGrumpy: 86.08,
     averageReview: 3.99,
     reviewPercentile: 0.3,
     grumpyPercentile: 0.7,
     grumpIndexScore: 44.96
   },
   {
     rank: 15,
     state: "RI",
     totalReviews: '1,073',
     grumpyReviews: 131,
     grumpy: 12.21,
     notGrumpy: 87.79,
     averageReview: 4.04,
     reviewPercentile: 0.56,
     grumpyPercentile: 0.44,
     grumpIndexScore: 44.77
   },
   {
     rank: 16,
     state: "NM",
     totalReviews: '1,427',
     grumpyReviews: 192,
     grumpy: 13.45,
     notGrumpy: 86.55,
     averageReview: 3.97,
     reviewPercentile: 0.22,
     grumpyPercentile: 0.78,
     grumpIndexScore: 42.12
   },
   {
     rank: 17,
     state: "CT",
     totalReviews: '3,980',
     grumpyReviews: 443,
     grumpy: 11.13,
     notGrumpy: 88.87,
     averageReview: 4.02,
     reviewPercentile: 0.42,
     grumpyPercentile: 0.58,
     grumpIndexScore: 41.84
   },
   {
     rank: 18,
     state: "WY",
     totalReviews: 228,
     grumpyReviews: 38,
     grumpy: 16.67,
     notGrumpy: 83.33,
     averageReview: 3.85,
     reviewPercentile: 0.04,
     grumpyPercentile: 0.96,
     grumpIndexScore: 40.64
   },
   {
     rank: 19,
     state: "VT",
     totalReviews: 599,
     grumpyReviews: 69,
     grumpy: 11.52,
     notGrumpy: 88.48,
     averageReview: 4.04,
     reviewPercentile: 0.52,
     grumpyPercentile: 0.48,
     grumpIndexScore: 39.06
   },
   {
     rank: 20,
     state: "MD",
     totalReviews: '5,848',
     grumpyReviews: 650,
     grumpy: 11.11,
     notGrumpy: 88.89,
     averageReview: 4.04,
     reviewPercentile: 0.54,
     grumpyPercentile: 0.46,
     grumpIndexScore: 36.93
   },
   {
     rank: 21,
     state: "AK",
     totalReviews: 782,
     grumpyReviews: 82,
     grumpy: 10.49,
     notGrumpy: 89.51,
     averageReview: 4.04,
     reviewPercentile: 0.62,
     grumpyPercentile: 0.38,
     grumpIndexScore: '35.40'
   },
   {
     rank: 22,
     state: "VA",
     totalReviews: '7,804',
     grumpyReviews: 855,
     grumpy: 10.96,
     notGrumpy: 89.04,
     averageReview: 4.02,
     reviewPercentile: 0.4,
     grumpyPercentile: 0.6,
     grumpIndexScore: 35.04
   },
   {
     rank: 23,
     state: "PA",
     totalReviews: '11,055',
     grumpyReviews: 1253,
     grumpy: 11.33,
     notGrumpy: 88.67,
     averageReview: 4.04,
     reviewPercentile: 0.6,
     grumpyPercentile: 0.4,
     grumpIndexScore: 34.33
   },
   {
     rank: 24,
     state: "UT",
     totalReviews: '1,535',
     grumpyReviews: 216,
     grumpy: 14.07,
     notGrumpy: 85.93,
     averageReview: 3.92,
     reviewPercentile: 0.12,
     grumpyPercentile: 0.88,
     grumpIndexScore: 33.42
   },
   {
     rank: 25,
     state: "OK",
     totalReviews: '1,977',
     grumpyReviews: 277,
     grumpy: 14.01,
     notGrumpy: 85.99,
     averageReview: 3.95,
     reviewPercentile: 0.18,
     grumpyPercentile: 0.82,
     grumpIndexScore: 32.33
   },
   {
     rank: 26,
     state: "MN",
     totalReviews: '4,084',
     grumpyReviews: 473,
     grumpy: 11.58,
     notGrumpy: 88.42,
     averageReview: 4.03,
     reviewPercentile: 0.44,
     grumpyPercentile: 0.56,
     grumpIndexScore: 30.43
   },
   {
     rank: 27,
     state: "HI",
     totalReviews: '1,346',
     grumpyReviews: 137,
     grumpy: 10.18,
     notGrumpy: 89.82,
     averageReview: 4.06,
     reviewPercentile: 0.74,
     grumpyPercentile: 0.26,
     grumpIndexScore: 29.06
   },
   {
     rank: 28,
     state: "MI",
     totalReviews: '7,023',
     grumpyReviews: 817,
     grumpy: 11.63,
     notGrumpy: 88.37,
     averageReview: 4.05,
     reviewPercentile: 0.66,
     grumpyPercentile: 0.34,
     grumpIndexScore: 28.39
   },
   {
     rank: 29,
     state: "MO",
     totalReviews: '4,010',
     grumpyReviews: 468,
     grumpy: 11.67,
     notGrumpy: 88.33,
     averageReview: 4.01,
     reviewPercentile: 0.36,
     grumpyPercentile: 0.64,
     grumpIndexScore: 26.57
   },
   {
     rank: 30,
     state: "NC",
     totalReviews: '7,167',
     grumpyReviews: 815,
     grumpy: 11.37,
     notGrumpy: 88.63,
     averageReview: 4.05,
     reviewPercentile: 0.68,
     grumpyPercentile: 0.32,
     grumpIndexScore: 26.43
   },
   {
     rank: 31,
     state: "GA",
     totalReviews: '7,267',
     grumpyReviews: 816,
     grumpy: 11.23,
     notGrumpy: 88.77,
     averageReview: 4.03,
     reviewPercentile: 0.46,
     grumpyPercentile: 0.54,
     grumpIndexScore: 25.76
   },
   {
     rank: 32,
     state: "ME",
     totalReviews: '1,125',
     grumpyReviews: 110,
     grumpy: 9.78,
     notGrumpy: 90.22,
     averageReview: 4.03,
     reviewPercentile: 0.48,
     grumpyPercentile: 0.52,
     grumpIndexScore: 22.73
   },
   {
     rank: 33,
     state: "SC",
     totalReviews: '2,751',
     grumpyReviews: 321,
     grumpy: 11.67,
     notGrumpy: 88.33,
     averageReview: 4.06,
     reviewPercentile: 0.72,
     grumpyPercentile: 0.28,
     grumpIndexScore: 16.86
   },
   {
     rank: 34,
     state: "TN",
     totalReviews: '3,839',
     grumpyReviews: 427,
     grumpy: 11.12,
     notGrumpy: 88.88,
     averageReview: 4.07,
     reviewPercentile: 0.82,
     grumpyPercentile: 0.18,
     grumpIndexScore: 14.46
   },
   {
     rank: 35,
     state: "AR",
     totalReviews: '1,276',
     grumpyReviews: 167,
     grumpy: 13.09,
     notGrumpy: 86.91,
     averageReview: 4.05,
     reviewPercentile: 0.7,
     grumpyPercentile: 0.3,
     grumpIndexScore: 13.23
   },
   {
     rank: 36,
     state: "NE",
     totalReviews: 875,
     grumpyReviews: 102,
     grumpy: 11.66,
     notGrumpy: 88.34,
     averageReview: 4.04,
     reviewPercentile: 0.58,
     grumpyPercentile: 0.42,
     grumpIndexScore: 12.65
   },
   {
     rank: 37,
     state: "MT",
     totalReviews: 492,
     grumpyReviews: 56,
     grumpy: 11.38,
     notGrumpy: 88.62,
     averageReview: '4.00',
     reviewPercentile: 0.34,
     grumpyPercentile: 0.66,
     grumpIndexScore: 12.06
   },
   {
     rank: 38,
     state: "KS",
     totalReviews: '1,306',
     grumpyReviews: 143,
     grumpy: 10.95,
     notGrumpy: 89.05,
     averageReview: 4.06,
     reviewPercentile: 0.76,
     grumpyPercentile: 0.24,
     grumpIndexScore: 11.48
   },
   {
     rank: 39,
     state: "ID",
     totalReviews: 667,
     grumpyReviews: 75,
     grumpy: 11.24,
     notGrumpy: 88.76,
     averageReview: '4,00',
     reviewPercentile: 0.32,
     grumpyPercentile: 0.68,
     grumpIndexScore: 10.89
   },
   {
     rank: 40,
     state: "SD",
     totalReviews: 166,
     grumpyReviews: 19,
     grumpy: 11.45,
     notGrumpy: 88.55,
     averageReview: 4.04,
     reviewPercentile: 0.5,
     grumpyPercentile: 0.5,
     grumpIndexScore: 10.31
   },
   {
     rank: 41,
     state: "WV",
     totalReviews: 656,
     grumpyReviews: 75,
     grumpy: 11.43,
     notGrumpy: 88.57,
     averageReview: 4.02,
     reviewPercentile: 0.38,
     grumpyPercentile: 0.62,
     grumpIndexScore: 9.72
   },
   {
     rank: 42,
     state: "FL",
     totalReviews: '14,613',
     grumpyReviews: 1589,
     grumpy: 10.87,
     notGrumpy: 89.13,
     averageReview: 4.07,
     reviewPercentile: 0.8,
     grumpyPercentile: 0.2,
     grumpIndexScore: 9.14
   },
   {
     rank: 43,
     state: "WI",
     totalReviews: '4,236',
     grumpyReviews: 422,
     grumpy: 9.96,
     notGrumpy: 90.04,
     averageReview: 4.07,
     reviewPercentile: 0.78,
     grumpyPercentile: 0.22,
     grumpIndexScore: 8.55
   },
   {
     rank: 44,
     state: "NJ",
     totalReviews: '6,366',
     grumpyReviews: 621,
     grumpy: 9.75,
     notGrumpy: 90.25,
     averageReview: 4.07,
     reviewPercentile: 0.84,
     grumpyPercentile: 0.16,
     grumpIndexScore: 7.97
   },
   {
     rank: 45,
     state: "ND",
     totalReviews: 190,
     grumpyReviews: 23,
     grumpy: 12.11,
     notGrumpy: 87.89,
     averageReview: '4.10',
     reviewPercentile: 0.96,
     grumpyPercentile: 0.04,
     grumpIndexScore: 7.38
   },
   {
     rank: 46,
     state: "AL",
     totalReviews: '1,808',
     grumpyReviews: 186,
     grumpy: 10.29,
     notGrumpy: 89.71,
     averageReview: '4.10',
     reviewPercentile: 0.92,
     grumpyPercentile: 0.08,
     grumpIndexScore: '6.80'
   },
   {
     rank: 47,
     state: "IA",
     totalReviews: '1,383',
     grumpyReviews: 138,
     grumpy: 9.98,
     notGrumpy: 90.02,
     averageReview: '4.10',
     reviewPercentile: 0.9,
     grumpyPercentile: 0.1,
     grumpIndexScore: 6.21
   },
   {
     rank: 48,
     state: "DE",
     totalReviews: 776,
     grumpyReviews: 73,
     grumpy: 9.41,
     notGrumpy: 90.59,
     averageReview: '4.10',
     reviewPercentile: 0.94,
     grumpyPercentile: 0.06,
     grumpIndexScore: 5.63
   },
   {
     rank: 49,
     state: "NH",
     totalReviews: '1,245',
     grumpyReviews: 109,
     grumpy: 8.76,
     notGrumpy: 91.24,
     averageReview: '4.10',
     reviewPercentile: 0.88,
     grumpyPercentile: 0.12,
     grumpIndexScore: 5.04
   },
   {
     rank: 50,
     state: "MS",
     totalReviews: 792,
     grumpyReviews: 78,
     grumpy: 9.85,
     notGrumpy: 90.15,
     averageReview: 4.13,
     reviewPercentile: 0.98,
     grumpyPercentile: 0.02,
     grumpIndexScore: 4.46
   },
   {
     rank: 51,
     state: "LA",
     totalReviews: '2,195',
     grumpyReviews: 220,
     grumpy: 10.02,
     notGrumpy: 89.98,
     averageReview: 4.16,
     reviewPercentile: 1,
     grumpyPercentile: 0,
     grumpIndexScore: 3.87
   }

  ]