.text-box.text-box--happiest.text-box--wide
  h2.block-title
    | The Happiest


  .intro-img
    picture
      source(media='(max-width: 779px)', srcset='images/photo/happiest-740.png, images/photo/happiest-740@2x.png 2x')
      source(media='(max-width: 1019px)', srcset='images/photo/happiest-780.png, images/photo/happiest-780@2x.png 2x')
      source(media='(max-width: 1439px)', srcset='images/photo/happiest-1020.png, images/photo/happiest-1020@2x.png 2x')
      source(media='(max-width: 1849px)', srcset='images/photo/happiest.png, images/photo/happiest@2x.png 2x')
      img.main-img(src='images/photo/happiest-1920.png', srcset='images/photo/happiest-1920@2x.png 2x')

    picture
      source(media='(max-width: 779px)', srcset='images/photo/happy-img-xsmall.png, images/photo/happy-img-xsmall@2x.png 2x')
      source(media='(max-width: 1019px)', srcset='images/photo/happy-img-small.png, images/photo/happy-img-small@2x.png 2x')
      img.small-img.small-img--happy(src='images/photo/happy-img.png', srcset='images/photo/happy-img@2x.png 2x')

  .rankings__wrapper
    .rankings__item
      .rankings__item-header
        span.rate-block
          | 98.080
        h3.rankings__item-title
          | Louisiana

      .rankings__item-num-block
        p.rankings__item-num
          | 1

      p.rankings__item-text
        | First on our list of states home to the happiest and most satisfied of tourists is Louisiana. Louisiana earned its place at the top of our list on the strength of its highest national average hotel rating of 4.18. Louisiana sealed the deal with its low number of negative reviews authored by its residents, both in proportion to its population share and the total number of reviews authored by Louisianans in our data set – both of which ranked 44th nationwide.

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 94.667
        h3.rankings__item-title
          | Mississippi

      .rankings__item-num-block
        p.rankings__item-num
          | 2

      p.rankings__item-text
        | With one exception, states that made the cut as homes of the top ten happiest tourists are 1) in the South Atlantic or Midwestern regions, and/or 2) have small populations. Coming in at number two, Mississippi is not that exception. With the second highest average rating (4.125), the fourth lowest percentage of negative reviews in our data set (9.84%), and the second lowest rate of negative reviews than expected, Mississippians appear to be quite content when away from home. 

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 92.749
        h3.rankings__item-title
          | New Hampshire

      .rankings__item-num-block
        p.rankings__item-num
          | 3

      p.rankings__item-text
        | Tourists from New Hampshire come in third on our list, primarily on the strength of their lowest national rate of one- and two-star reviews in the data set we analyzed (8.76%), supported by their sixth highest average hotel rating (4.095). While there were fewer negative reviews than expected for New Hampshire’s population, New Hampshire was in the middle of the pack on this metric.

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 92.453
        h3.rankings__item-title
          | Delaware

      .rankings__item-num-block
        p.rankings__item-num
          | 4

      p.rankings__item-text
        | Comparable in both size and population to New Hampshire, and likewise a state with both geographically and demographically larger neighbors, Delaware comes in closely behind New Hampshire as number four on our list. Travelers who call Delaware home have the second lowest rate of negative reviews in our data set, and rank third on average hotel ratings (4.099). Again, like New Hampshire, Delaware was only modestly underrepresented in terms of expected negative reviews.

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 91.585

        h3.rankings__item-title
          | Iowa

      .rankings__item-num-block
        p.rankings__item-num
          | 5

      p.rankings__item-text
        | At number five, we have the state of Iowa. As with their northerly rivals, Minnesotans, Iowans are known for their “nice” temperament. Our data bears out this tidbit of cultural-geographic knowledge: Iowa ranks fifth on two metrics (average review numerical rating, and fewest negative reviews vs. population-expected), and sixth on the third, with only 9.98% of Iowans’ reviews being one- or two-star, versus the national average of 12.64%.

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 91.477
        h3.rankings__item-title
          | Alabama

      .rankings__item-num-block
        p.rankings__item-num
          | 6

      p.rankings__item-text
        | For number six on our list of home-states of the happiest tourists, we have another Southern state: Alabama. Like Louisiana and Mississippi, Alabama performed consistently on all three metrics, ranking fourth in average hotel review rating, third in fewest negative reviews as compared to what is projected for its population, and eighth lowest percentage of reviews from state residents that were negative.

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 89.776
        h3.rankings__item-title
          | North Dakota

      .rankings__item-num-block
        p.rankings__item-num
          | 7

      p.rankings__item-text
        | At number seven, North Dakota makes our top ten on the merits of its third highest average hotel rating (4.1), and its third lowest number of one or two-star reviews as compared to our population-based estimate. North Dakota did not rank higher due to the percentage of negative reviews authored by North Dakotans being only 0.53% below the national average (21st grumpiest).

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 89.300
        h3.rankings__item-title
          | New Jersey

      .rankings__item-num-block
        p.rankings__item-num
          | 8

      p.rankings__item-text
        | The eighth state to make our list is certainly an exception, and may surprise many of our readers. While some cultural stereotypes about New Jersey don’t shine its residents in a favorable light, they glide over the fact that New Jersey is both the most highly educated and the wealthiest state in the country (as well as the most densely populated). Tourists who call New Jersey home are among the most content, with the third lowest rate of negative hotel reviews in our data set, nearly 3% below the national average of 12.64% at 9.75%, and an average rating that ranks in the top ten, nationwide.

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 88.657
        h3.rankings__item-title
          | Wisconsin

      .rankings__item-num-block
        p.rankings__item-num
          | 9

      p.rankings__item-text
        | Coming in at number nine is the state of Wisconsin. On the measure of negative reviews relative to all reviews by its inhabitants, Wisconsin ranks just behind its neighbor to the southwest, Iowa, at sixth least grumpy (while the number of poor reviews lies closer to that which would be expected for the state’s population), and 11th highest average hotel rating, 4.066 (above the national average of 4.015).

    .rankings__item
      .rankings__item-header
        span.rate-block
          | 88.157
        h3.rankings__item-title
          | Florida

      .rankings__item-num-block
        p.rankings__item-num
          | 10

      p.rankings__item-text
        | Completing our list of states home to tourists with sunny dispositions is the Sunshine State, Florida. Edging out Wisconsin on this metric, Floridians have the ten highest average hotel review rating, 4.07. There were 657 fewer one- or two-star reviews than the 2,246 we expected to find in a data set of this size, based on Florida’s 6.38% proportion of the total US population. In our data set, only 10.87% of reviews by Floridians were negative, well below the national average.

  .graph__wrapper
    p.info-text
      | This chart shows the number of complaints and the overall score. But even if the number of complaints is high, the overall rating may not coincider. To see the general table for all data, use the button below.

    picture
      source(media='(max-width: 779px)', srcset='images/photo/happy-scheme-740.png, images/photo/happy-scheme-740@2x.png 2x')
      source(media='(max-width: 1019px)', srcset='images/photo/happy-scheme-780.png, images/photo/happy-scheme-780@2x.png 2x')
      source(media='(max-width: 1439px)', srcset='images/photo/happy-scheme.png, images/photo/happy-scheme@2x.png 2x')
      source(media='(max-width: 1849px)', srcset='images/photo/happy-scheme.png, images/photo/happy-scheme@2x.png 2x')
      img.graph-img(src='images/photo/happy-scheme.png', srcset='images/photo/happy-scheme@2x.png 2x')

  .btn-container
    a.btn-main(href='/happiest-full.html')
      span.btn-main__text Click here for the full ranking of The Happiest
