.text-box.text-box--map.text-box--grumpiest
  h2.block-title Map of the Grumpiest and Happiest States

  .map-wrapper#map-wrapper

  .map__user-block
    .map-btn__wrapper.map-btn__wrapper--share
      button.map-btn.map-btn--share
        span.map-btn__text
          | Share

      .map-btn__container.map-btn__container--share
        .map-btn__socials
          a.map-btn__socials-item.map-btn__socials-item--fb(href="")
            img.socials-logo(src="images/svg/fb-share.svg")

          a.map-btn__socials-item.map-btn__socials-item--tw(href="")
            img.socials-logo(src="images/svg/tw-share.svg")

          a.map-btn__socials-item.map-btn__socials-item--go(href="")
            img.socials-logo(src="images/svg/go-share.svg")

    .map-btn__wrapper.map-btn__wrapper--embed
      button.map-btn.map-btn--embed
        span.map-btn__text
          | Embed

      .map-btn__container.map-btn__container--embed
        .map-btn__embed
          p.map-btn__embed-text#copyTarget
            | To arrive at these rankings, RewardExpert analyzed a data set of hotel reviews from TripAdvisor containing a total of 878,561 reviews of 4333 hotels nationwide. We removed all entries that either a) did not include a location for the reviewer, or b) had a non-US reviewer location, leaving 278,662 reviews. We took the reviews that had an overall rating of one or two (on a scale of one to five) as our “grumpy” data set.

          button.map-btn__embed-copy#copyButton
            | copy to clipboard
