.text-box.text-box--map.text-box--grumpiest
  h2.block-title Map of the Grumpiest and Happiest States

  .frame-wrapper
    iframe(src='https://www.rewardexpert.com/shared/grump-map/' width = "904px" height = '560px' frameborder="0" scrolling="no")

  .map__user-block
    .map-btn__wrapper.map-btn__wrapper--share
      button.map-btn.map-btn--share
        span.map-btn__text
          | Share

      .map-btn__container.map-btn__container--share
        .map-btn__socials
          a.map-btn__socials-item.map-btn__socials-item--fb(href="")
            img.socials-logo(src="images/svg/fb-share.svg")

          a.map-btn__socials-item.map-btn__socials-item--tw(href="")
            img.socials-logo(src="images/svg/tw-share.svg")

          a.map-btn__socials-item.map-btn__socials-item--go(href="")
            img.socials-logo(src="images/svg/go-share.svg")

    .map-btn__wrapper.map-btn__wrapper--embed
      button.map-btn.map-btn--embed
        span.map-btn__text
          | Embed

      .map-btn__container.map-btn__container--embed
        .map-btn__embed
          textarea.map-btn__embed-text#copyTarget(autofocus='')
            | <iframe src="https://www.rewardexpert.com/shared/grump-map/" width="904px" height="560px" frameborder="0" scrolling="no"></iframe>

          button.map-btn__embed-copy#copyButton
            | copy to clipboard
